* {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(24, 24, 24);
}

h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
}

u{
    color: white;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-maker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button {
    border-radius: 50%;
    background-color: gray;
    width: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover {
    transform: scale(1.1);
    border: 2px solid rgba(65, 61, 61, 0.014);
    background: transparent;
}

.bhide {
    display: none;
}

/* ---------------------------------------------------------------------------- */

.b1 {
    background-color: red;
}

.b2 {
    background-color: darkgreen;
}

.b3 {
    background-color: darkblue;
}

.b4 {
    background-color: darkorange;
}

.b5 {
    background-color: darkmagenta;
}

.b6 {
    background-color: darkgray;
}

.b7 {
    background-color: darkturquoise;
}

.box:nth-child(4n + 1) {
    transform: scale(0.85);
    /* z-index: -2; */
}

.box:nth-child(3) {
    transform: scale(1.25);
    margin: 20px;
    /* z-index: -2; */
}

/* ------------------------------------------------------------------------*/

.outleft {
    animation: moveoutleft 0.5s ease-in-out;
}

.outright {
    animation: moveoutright 0.5s ease-in-out;
}

/* ----------------------------------------------------------*/
/* Left Side */
.outfromP5left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.outfromP4left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.outfromP3left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.outfromP2left {
    animation: moveToP2Left 0.5s ease-in-out;
}

.outfromP1left {
    animation: moveToP1Left 0.5s ease-in-out;
}

/* ------------------------------------------------------------------------ */
/* Right Side */
.outfromP1right {
    animation: moveToP1Right 0.5s ease-in-out;
}

.outfromP2right {
    animation: moveToP2Right 0.5s ease-in-out;
}

.outfromP3right {
    animation: moveToP3Right 0.5s ease-in-out;
}

.outfromP4right {
    animation: moveToP4Right 0.5s ease-in-out;
}

.outfromP5right {
    animation: moveToP5Right 0.5s ease-in-out;
}

/* ======================================================================== */
@keyframes moveoutleft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }

    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveoutright {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }

    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

/* ======================================================================= */
/* left */

@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }

    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

/* ============================================================================================= */
/* Right */

@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }

    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}